.header {
  width: 100%;
  height: 4rem;
  background-color: $white;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
  @include flex(flex-end, center, null);
  padding: 0 2rem;

  &__button {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    position: absolute;
    z-index: 99;
    left: 1rem;
    border-radius: 50%;
    background: $white;
    @include flex-center();
    font-size: 1rem;
    border: 1px solid $gray-200;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    color: $gray-700;
    &:focus-visible {
      border: 1px solid $primary;
    }

    @include media(lg) {
      display: none;
    }
  }

  &__user {
    @include flex(center, center, null);
    gap: 0.5rem;

    &__profile {
      @include flex(center, center, null);
      width: 9rem;
      height: 2rem;
      border-radius: 0.25rem;
      background: $white;
      overflow: hidden;
      border: none;
      &:focus-visible {
        border: 1px solid $primary;
      }
      gap: 0.5rem;

      &__image {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        border-radius: 50%;
        border: 1px solid $gray-300;
      }

      &__icon {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: $secondary;
        border: 1px solid $gray-300;
      }

      &__detail {
        @include flex(center, flex-start, null);
        flex-direction: column;

        p {
          width: 6rem;
          font-size: 0.75rem;
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: nowrap;
        }
      }
    }

    &__button {
      @include flex(center, center, null);
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      font-size: 1rem;
      background: $white;
      border: 1px solid $gray-200;
      box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
      color: $gray-700;
      cursor: pointer;
      &:focus-visible {
        border: 1px solid $primary;
      }

      &:hover {
        box-shadow: 0 0.1rem 0.3rem $primary;
      }
    }
  }
}
