.breadcrubm {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  border-radius: 0.25rem;
  width: max-content;

  li {
    display: flex;
    align-items: center;

    a {
      text-transform: capitalize;
      @include flex-center();
      font-size: 0.875rem;
      font-weight: 400;

      svg {
        stroke-width: 1.25;
      }
    }

    svg {
      stroke-width: 1;
    }
  }
}
