.container {
  @include container();
  margin-block: 8rem;

  h1 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 1.5rem;

  .card {
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;
    border: 1px solid $gray-300;
    border-radius: 0.4rem;

    @include media(md) {
      max-width: 250px;
    }

    .remove {
      position: absolute;
      top: 4px;
      right: 4px;
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(2px);

      svg {
        color: $danger;
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__image {
      display: block;
      width: 100%;
      background: $gray-200;
      overflow: hidden;
      max-height: 500px;
      min-height: 180px;
      @include media(md) {
        max-height: 300px;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;

        transition: all 0.3s ease;
      }
    }

    &__content {
      border-top: 1px solid $gray-300;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      align-items: flex-start;
      gap: 0.5rem;

      &__collection {
        font-size: 0.75rem;
        font-weight: 500;
        color: $gray-500;
        overflow: hidden;
        text-transform: capitalize;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      &__title {
        margin-top: 0.25rem;
        font-size: 1rem;
        font-weight: 700;
        color: $dark;
        margin-bottom: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      &__price {
        font-size: 0.875rem;
        font-weight: 600;
        color: $dark;
      }

      &__rating {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        margin-top: 0.25rem;
        svg {
          width: 0.75rem;
          height: 0.75rem;
          color: $secondary;
          fill: $secondary;
        }
        p {
          font-size: 0.75rem;
          font-weight: 500;
          color: $gray-500;
        }
      }
    }

    &__notif {
      width: 100%;

      background: $dark;
      padding: 0.5rem;
      position: absolute;

      @include flex-center();
      transition: all 0.3s ease-in;

      p {
        color: $white;
        font-size: 0.8125rem;
      }
    }
  }
}

.empty {
  grid-column: span 12 / span 12;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 2rem;

  p {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: $gray-700;
  }

  span {
    font-size: 0.75rem;
    color: $gray-500;
  }

  .button {
    margin-top: 1rem;
    max-width: 150px;

    @include btn();
    height: 1.75rem;
    font-size: 0.75rem !important;
  }
}
