.tooltip {
  background: $white;
  border-radius: 0.4rem;

  padding: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
  width: 150px;

  h5 {
    font-size: 0.75rem;
    font-weight: 500;
    color: $gray-900;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid $gray-300;
    padding-bottom: 0.25rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    p {
      font-size: 0.75rem;
      font-weight: 500;
      color: $gray-500;
      text-transform: capitalize;
    }

    span {
      font-size: 0.75rem;
      font-weight: 400;
    }
  }
}

.loader {
  width: 60%;
  height: 60%;
  margin: auto;
  margin-top: 2rem;
  background: $neutral;
  border-radius: 50%;
  border-top-color: $white;

  animation: loader 1s infinite linear;
}

@keyframes loader {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}
