.container {
  width: 100%;
  height: 100%;
  display: block;

  @include container();
  margin-block: 8rem;
  h1 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;

    @include media(md) {
      font-size: 2.5rem;
    }
  }

  .scroller {
    margin-block: 3rem 0;
    display: flex;

    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      height: 10px;
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray-300;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &__card {
      scroll-snap-align: start;
      flex: 0 0 230px;
      overflow: hidden;
      padding: 1rem;

      &:hover {
        img {
          transform: scale(1.05);
        }
      }

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.25rem;

      &__image {
        border: 1px solid $gray-300;
        border-radius: 0.4rem;
        display: block;
        width: 100%;
        aspect-ratio: 1 / 1.1;
        background: $gray-200;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transition: all 0.3s ease;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.25rem;

        &__collection {
          font-size: 0.75rem;
          font-weight: 500;
          color: $gray-500;
          overflow: hidden;
          text-transform: capitalize;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }

        &__title {
          font-size: 1rem;
          font-weight: 700;
          color: $dark;
          margin-bottom: auto;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
      &__price {
        font-size: 0.875rem;
        font-weight: 600;
        color: $dark;
      }

      &__rating {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        svg {
          width: 0.75rem;
          height: 0.75rem;
          color: $secondary;
          fill: $secondary;
        }
        p {
          font-size: 0.75rem;
          font-weight: 500;
          color: $gray-500;
        }
      }
    }
  }

  .showall {
    margin-top: 1rem;
    width: max-content;
    display: block;
    margin-inline: auto;
    height: 1rem;
    border: 1px solid $gray-300;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    @include flex-center();
    span {
      font-size: 0.75rem;
      font-weight: 500;
      color: $gray-600;
    }
  }
}
