.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 3.5rem;
}

.panel {
  position: absolute;

  z-index: 99;
  width: 16rem;
  max-height: calc(100vh - 5.5rem);
  overflow-y: auto;
  background-color: $white;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.15);

  z-index: 99;

  opacity: 0;
  left: 0;
  scale: 0.8;
  transform: translate(-10px, -10px);
  transition: all 0.3s ease-in-out;
  top: -1rem;
  left: -1rem;

  &.show {
    scale: 1;
    top: 0;
    transform: translate(0, 0);
    left: 0;
    opacity: 1;
  }

  &__sticky {
    position: sticky;
    top: 0;
    background: $white;
    padding-bottom: 0.5rem;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.15);
  }

  &__header {
    @include flex(space-between, center, null);
    padding: 1rem 1rem 0.5rem 1rem;
    h3 {
      font-size: 0.8125rem;
      font-weight: 400;
      color: $dark;
    }

    &__close {
      @include flex-center();

      svg {
        width: 1.1rem;
        height: 1.1rem;

        &:hover {
          color: $danger;
        }
      }
    }
  }

  &__mark {
    display: block;
    margin-left: auto;
    transform: translateX(-1rem);
    width: max-content;
    font-size: 0.75rem;
    font-weight: 400;

    margin-block: 0.75rem;
    color: $primary;
    text-decoration: underline;
  }

  &__content {
    border-top: 1px solid $gray-300;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      color: $gray-500;
      user-select: none;
      font-size: 0.75rem;
      height: 2rem;
      padding: 1rem;
    }

    &__date {
      list-style: none;
      background: $gray-100;
      font-size: 0.8125rem;
      font-weight: 400;
      padding: 0.5rem 1rem;
    }

    &__list {
      list-style: none;
      padding: 1rem 1rem;
      border-bottom: 1px solid $gray-300;
      cursor: pointer;

      h5 {
        font-size: 0.75rem;
        font-weight: 500;
        color: $dark;
        user-select: none;
      }

      p {
        font-size: 0.75rem;
        font-weight: 400;
        color: $gray-500;
      }
    }
  }
}
