.bestsaller {
  grid-column: span 1 / span 1;

  padding: 1.5rem;
  background: $white;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.4rem;

  &.top {
    display: none;
    @include media(xl) {
      display: block;
    }
  }

  &.bottom {
    display: block;
    @include media(xl) {
      display: none;
    }
  }

  &__skeletonList {
    display: flex;
    margin-block: 1rem;
    gap: 0.5rem;
    padding: 0.5rem 0;

    .img {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 0.25rem;
      background: $neutral;

      @include shimmer();
    }
  }

  &__list {
    margin-block: 1rem;
    display: flex;
    gap: 0.5rem;

    padding: 0.5rem 0;

    figure {
      width: 65px;
      height: 65px;
      overflow: hidden;
      border-radius: 0.25rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    h3 {
      font-size: 0.8125rem;
      font-weight: 500;
      color: $gray-700;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    p {
      color: $gray-500;
      margin-bottom: 0.75rem;
      font-size: 0.75rem;
    }
  }
}

.titlechart {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid $gray-300;
  padding-bottom: 1rem;

  svg {
    width: 1rem;
    height: 1rem;
    stroke-width: 1.5;
    color: $primary;
  }

  h3 {
    font-size: 0.8125rem;
    font-weight: 400;
    color: $gray-500;
  }
}

.skeleton {
  width: 100%;
  background: $neutral;
  border-radius: 0.25rem;
  @include shimmer();
}
