.container {
  background: $white;
  padding: 2rem;
  border-radius: 0.4rem;
  margin-top: 2rem;

  .button {
    width: 150px;
    margin-left: auto;
  }

  small {
    height: 1.25rem;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    color: $danger;
    display: block;
  }

  @include media(md) {
    small {
      margin-left: 136px;
      color: $danger;
    }
  }
}

.wrapper {
  display: flex;

  gap: 1rem;
  flex-direction: column;

  @include media(md) {
    flex-direction: row;
  }

  .textarea {
    width: 100%;
    padding: 0.6375rem;
    border-radius: 0.4rem;
    border: 1px solid $gray-300;
    height: 4rem;
    font-size: 0.8125rem;
    resize: none;

    &::placeholder {
      font-size: 0.8125rem;
      color: $gray-500;
      letter-spacing: 0.01px;
    }

    &:focus-within {
      outline: $primary 1px solid;
      border: 1px solid $primary;
    }
  }

  label {
    font-size: 0.75rem;
    font-weight: 500;
  }

  @include media(md) {
    label {
      min-width: 120px;
    }
  }
}
