.container {
  @include container();
  margin-block: 8rem;

  h1 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
}

.content {
  flex: 1;

  position: relative;

  h3 {
    font-weight: 500;

    width: 100%;
  }

  @include media(lg) {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1rem;
  }

  .left {
    grid-column: span 3 / span 3;
  }

  .right {
    grid-column: span 2 / span 2;

    .detailOrder {
      display: none;
      border: 1px solid $gray-300;
      border-bottom: none;
      border-radius: 0.4rem 0.4rem 0 0;
      grid-column: span 2 / span 2;
      padding: 1rem;
      @include media(lg) {
        display: block;
      }

      &__list {
        padding-block: 1rem;
        border-bottom: 1px solid $gray-300;
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;

        &__image {
          width: 80px;
          height: 80px;
          border: 1px solid $gray-300;
          border-radius: 0.25rem;
          overflow: hidden;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            object-position: center;
          }
        }

        &__content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 75px;

          span {
            font-weight: 500;
            font-size: 0.8125rem;
            color: $gray-500;
          }
          h3 {
            font-weight: 600;
            font-size: 0.8125rem;
          }
          p {
            font-weight: 400;
            font-size: 0.75rem;
            margin-top: 0.25rem;
            text-transform: capitalize;
          }
        }
      }
    }

    .summeryWrapper {
      margin-top: 2rem;

      border: 1px solid $gray-300;
      height: max-content;
      padding: 1rem;
      transition: visibility 0.5s, opacity 0.5s, transform 0.5s ease-in;
      grid-column: span 2 / span 2;

      @include media(lg) {
        margin-top: 0;

        border-radius: 0 0 0.4rem 0.4rem;
      }

      &__wrapper {
        border-bottom: 1px solid $gray-300;
      }

      &__summery {
        display: flex;
        @include flex(space-between, center, null);
        margin-block: 1.5rem;

        p {
          font-size: 0.875rem;
          font-weight: 500;
        }

        span {
          font-size: 0.875rem;
          font-weight: 700;
        }
      }

      &__discount {
        @include flex(space-between, center, null);
        margin-block: 1.5rem;
        gap: 0.5rem;
        position: relative;

        input {
          border: 1px solid $gray-300;
          height: 2.5rem;
          width: 100%;
          border-radius: 2.5rem;
          padding-inline: 1rem;
          font-size: 0.875rem;

          &:focus {
            outline: 1px solid $primary;
          }
        }
        button {
          width: 8rem;
          height: 2.5rem;
          border-radius: 2.5rem;
          background: $primary;
          color: $white;

          font-size: 0.875rem;
          transition: all 0.3s ease-in-out;
          text-align: center;

          &:hover {
            background: $primary-hover;
          }
        }
      }

      .checkout {
        @include flex(center, center, null);
        gap: 0.5rem;
        width: 100%;
        height: 2.5rem;
        border-radius: 2.5rem;
        background: $primary;
        color: $white;
        font-size: 0.875rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: $primary-hover;
        }
      }
    }
  }
}

.detailOrderMobile {
  display: block;
  border: 1px solid $gray-300;
  border-radius: 0.4rem;
  margin-top: 2rem;

  padding: 1rem;
  @include media(lg) {
    display: none;
  }

  &__list {
    padding-block: 1rem;
    border-bottom: 1px solid $gray-300;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;

    &__image {
      width: 80px;
      height: 80px;
      border: 1px solid $gray-300;
      border-radius: 0.25rem;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 75px;

      span {
        font-weight: 500;
        font-size: 0.8125rem;
        color: $gray-500;
      }
      h3 {
        font-weight: 600;
        font-size: 0.8125rem;
      }
      p {
        font-weight: 400;
        font-size: 0.75rem;
        margin-top: 0.25rem;
        text-transform: capitalize;
      }
    }
  }
}

.skeleton_wrapper {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $gray-300;
}

.skeleton_image {
  width: 80px;
  height: 80px;
  background: $neutral;
  border-radius: 0.25rem;
  @include shimmer();
}

.skeleton {
  width: 100%;
  background: $neutral;
  border-radius: 0.25rem;
  @include shimmer();
}
