.list {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;

  cursor: pointer;

  @include media(md) {
    color: $white;
  }

  &:focus-visible {
    outline: 2px solid $primary;
  }
}

.button {
  all: unset;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  @include media(md) {
    color: $white;
  }

  cursor: pointer;
  &:focus-visible {
    outline: 2px solid $primary;
  }
}
