.list {
  font-size: 0.8125rem;
  text-transform: capitalize;
  font-weight: 400;

  cursor: pointer;

  @include media(md) {
    color: $white;
  }

  &:focus-visible {
    outline: 2px solid $primary;
  }
}
