.list {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  &:focus {
    outline: 1px solid $primary;
  }
}

.button {
  all: unset;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
