.header {
  background: white;
  padding: 1rem;
  color: $gray-700;
  margin-bottom: 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid $gray-300;

  h1 {
    font-size: 1rem;
    font-weight: 700;
  }

  p {
    font-size: 0.8125rem;
  }
}
