.container {
  width: 100%;

  background: $white;
  border-radius: 0.4rem;
  margin-top: auto;
  @include media(sm) {
    margin-top: 0;
    max-width: 450px;
  }
}

.content {
  padding: 1.5rem 1rem;

  .comment {
    display: flex;
    flex-direction: column;

    label {
      font-size: 0.8125rem;
      font-weight: 500;
      color: $gray-700;
    }

    textarea {
      padding: 0.5rem;
      border: 1px solid $gray-300;
      border-radius: 0.25rem;
      resize: none;
      margin-top: 0.5rem;
      height: 100px;

      &:focus-within {
        outline: $primary 1px solid;
        border: 1px solid $primary;
      }
    }
    span {
      font-size: 0.875rem;
      font-weight: 400;
      color: $danger;
    }
  }
  p {
    font-size: 0.75rem;
    font-weight: 400;
    margin-top: 0.5rem;
  }
}

.footer {
  padding: 1rem;
  border-top: 1px solid $gray-300;
  display: flex;
  justify-content: flex-end;
}
