.container {
  margin-top: 2rem;
  background: $white;
  padding: 2rem;
  border-radius: 0.4rem;

  small {
    height: 1.25rem;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    color: $danger;
    display: block;
  }

  @include media(md) {
    small {
      margin-left: 136px;
      color: $danger;
    }
  }
}

.wrapper {
  display: flex;

  gap: 1rem;
  flex-direction: column;

  @include media(md) {
    flex-direction: row;
  }

  .textarea {
    width: 100%;
    padding: 0.6375rem;
    border-radius: 0.4rem;
    border: 1px solid $gray-300;
    height: 4rem;
    font-size: 0.8125rem;
    resize: none;

    &::placeholder {
      font-size: 0.8125rem;
      color: $gray-500;
      letter-spacing: 0.01px;
    }

    &:focus-within {
      outline: $primary 1px solid;
      border: 1px solid $primary;
    }
  }

  label {
    font-size: 0.75rem;
    font-weight: 500;
  }

  @include media(md) {
    label {
      min-width: 120px;
    }
  }

  &__image {
    width: 100%;
    border-radius: 0.4rem;
    height: 200px;
    border: 1px solid $gray-300;
    position: relative;
    cursor: pointer;

    img {
      opacity: 0;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    .upload {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      @include flex-center();
      flex-direction: column;

      h5 {
        font-size: 0.8125rem;
        font-weight: 500;
        color: $gray-400;
        margin-top: 1rem;
        user-select: none;
      }

      p {
        font-size: 0.75rem;
        font-weight: 500;
        color: $gray-400;
        margin-top: 0.25rem;
        user-select: none;
      }

      &__icon {
        width: 4rem;
        height: 4rem;
        background-color: $gray-200;
        @include flex(center, center, null);
        border-radius: 50%;
        position: relative;

        svg {
          width: 3.9rem;
          height: 3.9rem;

          position: absolute;

          left: 50%;
          top: 50%;
          stroke-width: 1;
          transform: translate(-50%, -50%);
          fill: white;
        }

        &__top {
          width: 1.5rem;
          height: 1.5rem;
          background-color: $primary;
          z-index: 1;
          border-radius: 50%;
          position: absolute;
          bottom: 0;

          svg {
            width: 1rem;
            height: 1rem;
            color: $white;
            fill: none;
            stroke-width: 2;
          }
        }
      }
    }
  }
}

.wrapper_hover {
  border: 1px solid $primary;
  outline: 1px solid $primary;
  background: rgb(244, 244, 255);
  p {
    color: $primary !important;
  }

  h5 {
    color: $primary !important;
  }
}
