.container {
  background: $white;
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  @include flex-center();
  flex-direction: column;

  .header {
    width: 100%;
    color: $white;
    background: $primary;

    &__box {
      @include container2();
      padding: 0.75rem 2rem;
      width: 100%;
      @include flex(space-between, center, null);
    }

    &__title {
      @include flex(center, center, null);
      gap: 0.5rem;

      h5 {
        all: unset;
        font-size: 0.8125rem;
        font-weight: 600;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        color: $white;
      }
    }

    &__btn {
      @include flex(center, center, null);
      gap: 0.5rem;
      background: $white;
      color: $primary;
      font-size: 0.8125rem;
      padding: 0.25rem 1rem;
      border-radius: 0.25rem;
    }
  }

  .content {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    @include container2();

    @include media(md) {
      padding: 2rem 3.5rem;
    }

    &__list {
      margin-bottom: 2rem;
      @include media(md) {
        @include flex(space-between, flex-start, null);
      }

      &__image {
        border-radius: 0.5rem;
        width: 100%;
        min-height: 200px;
        padding: 0.5rem;

        border: 1px solid $gray-300;
        @include media(md) {
          width: 300px;
          min-height: 120px;
        }
        img {
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%;
        }
      }

      &__text {
        font-size: 0.875rem;
        font-weight: 500;
        margin-top: 0.5rem;
        display: none;

        h5 {
          all: unset;
          font-size: 0.875rem;
          font-weight: 600;
        }
        p {
          font-size: 0.75rem;
          color: $gray-500;
        }

        @include media(md) {
          display: block;
        }
      }

      &__textMobile {
        font-size: 0.875rem;
        font-weight: 500;
        margin-top: 0.5rem;

        display: block;
        h5 {
          all: unset;
          font-size: 0.875rem;
          font-weight: 600;
        }
        p {
          font-size: 0.75rem;
        }
        @include media(md) {
          display: none;
        }
      }

      &__sd {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}

.edit {
  border: 1px solid $gray-300;
  border-radius: 0.5rem;
  padding: 0.25rem;
  @include flex-center();
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  svg {
    transition: all 0.3s ease-in-out;
    color: $gray-500;
  }

  &:hover {
    border: 1px solid $success;

    svg {
      color: $success;
    }
  }
}

.delete {
  border: 1px solid $gray-300;
  border-radius: 0.5rem;
  padding: 0.25rem;
  @include flex-center();
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  svg {
    transition: all 0.3s ease-in-out;
    color: $gray-500;
  }

  &:hover {
    border: 1px solid $danger;

    svg {
      color: $danger;
    }
  }
}

.wrapper {
  margin-bottom: 2rem;
  gap: 1rem;
  @include media(md) {
    @include flex(flex-start, flex-start, null);
  }
}

.skeleton {
  border-radius: 0.5rem;
  width: 100%;
  min-height: 200px;
  padding: 0.5rem;
  background: $neutral;

  border: 1px solid $gray-300;
  @include media(md) {
    width: 300px;
    min-height: 120px;
  }

  @include shimmer();
}

.skeleton_h5 {
  margin-top: 0.5rem;
  width: 200px;
  height: 14px;
  background: $neutral;

  @include shimmer();
}

.skeleton_p {
  margin-top: 0.25rem;
  width: 100px;
  height: 14px;
  background: $neutral;

  @include shimmer();
}
