.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  @include media(md) {
    display: none;
  }

  &__search {
    flex: 1;
    margin-bottom: 1rem;
    @include media(md) {
      max-width: 300px;
    }
  }

  &__button {
    margin-bottom: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary;
    transition: all 0.3s ease-in-out;

    svg {
      width: 1rem;
      height: 1rem;
      color: $white;
    }

    &:hover {
      background: $primary-hover;
    }
  }
}

.content {
  flex: 1;
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(3, minmax(0, 1fr));
  @include media(xs) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  @include media(sm) {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  @include media(md) {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  @include media(lg) {
    gap: 2rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

.card {
  grid-column: span 3 / span 3;

  @include media(md) {
    grid-column: span 4 / span 4;
  }

  @include media(lg) {
    grid-column: span 4 / span 4;
  }

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    img {
      transform: scale(1.05);
    }
  }

  &__image {
    border-radius: 0.4rem;
    display: block;
    width: 100%;
    min-height: 200px;
    background: $gray-200;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 1px solid $gray-300;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: all 0.3s ease;
    }
  }

  &__content {
    margin-top: 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__head {
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__collection {
      font-size: 0.75rem;
      font-weight: 400;
      color: $gray-500;
      overflow: hidden;
      text-transform: capitalize;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    &__title {
      font-size: 1rem;
      font-weight: 600;
      color: $dark;
      margin-bottom: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &__price {
      font-size: 0.875rem;
      font-weight: 600;
      color: $dark;
      margin-bottom: 0.25rem;
    }

    &__rating {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      svg {
        width: 0.75rem;
        height: 0.75rem;
        color: $secondary;
        fill: $secondary;
      }
      p {
        font-size: 0.75rem;
        font-weight: 500;
        color: $gray-500;
      }
    }
  }
}

.noResult {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  p {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.filter {
  width: 100%;
  margin-top: auto;
}

.pagination {
  width: 100%;
  @include flex-center();
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  align-items: center;

  button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: $primary;
    @include flex-center();
    svg {
      width: 1rem;
      height: 1rem;
      color: $white;
    }

    &:disabled {
      background: rgb(174, 174, 255);
    }
  }

  &__page {
    background: $white !important;
    border: 1px solid $gray-300;
    color: $dark !important;
  }
}
