.wrapper {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    padding: 0.55rem 0.5rem 0.55rem 2.5rem;
    border-radius: 2rem;
    border: 1px solid $gray-300;
    font-size: 0.75rem;

    color: $gray-500;

    &::placeholder {
      color: $gray-400;
    }

    &:focus {
      outline: $primary 1px solid;
      border: 1px solid $primary;

      & + svg {
        color: $primary;
      }
    }
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.75rem;
    width: 1.25rem;
    height: 1.25rem;
    stroke-width: 1.5;
    color: $gray-400;
  }
}
