@use "./variables" as *;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin media($point) {
  @if map-has-key($breakpoints, $point) {
    @media (min-width: map-get($breakpoints,$point)) {
      @content;
    }
  }
}

@mixin text-overflow($width: 100%) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: $width;
}

@mixin transition($properties, $duration, $timing-function) {
  transition: $properties $duration $timing-function;
}

@mixin center-position() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerLeft-Position() {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

@mixin centerRight-Position($right) {
  top: 50%;
  right: $right;
  transform: translateY(-50%);
}
