*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
}

a {
  all: unset;
  cursor: pointer;
  &:focus-visible {
    outline: 2px solid $primary;
  }
}

button {
  all: unset;
  cursor: pointer;
  padding: 0;

  &:focus-visible {
    outline: 2px solid $primary;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.danger-info {
  color: $danger;
}
