.error {
  color: $danger;
  font-size: 0.8325rem;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  height: 1rem;
  display: block;
  text-align: center;
  font-weight: 600;
}

.link {
  font-size: 0.75rem;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
  display: block;
  width: fit-content;
  margin-left: auto;
  &:hover {
    font-weight: 500;
  }
}
