.container {
  @include container();
  margin-block: 8rem;
  min-height: calc(100vh - 100px);
  h1 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
}

.content {
  display: grid;

  position: relative;

  grid-template-columns: repeat(1, minmax(0, 1fr));

  @include media(lg) {
    gap: 2rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.button {
  @include btn();
  width: 130px;
  font-size: 0.75rem;
  height: 1.5rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: $primary-hover;
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}
