.container {
  @include container();
  margin-block: 8rem;

  h1 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;

    @include media(md) {
      font-size: 2rem;
    }
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  min-height: 500px;
}

.filter {
  display: none;

  @include media(lg) {
    display: block;
  }
}
