.track {
  width: 2.5rem;
  height: 1.25rem;
  background: $gray-200;

  border-radius: 15px;
  border: 1px solid $gray-300;

  @include flex(center, center, null);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:disabled {
    cursor: not-allowed;
  }
  &__active {
    background: $white;
  }

  .dot {
    width: 1.1rem;
    height: 1.1rem;
    background: $primary-variant;
    border-radius: 50%;
    border: 1px solid $white;
    @include flex(center, center, null);
    transform: translateX(-0.65rem);
    transition: all 0.3s ease-in-out;

    &__active {
      transform: translateX(0.65rem);
    }
  }

  input {
    display: none;

    &:disabled {
      cursor: not-allowed;
    }
  }
}
