.admin {
  background: $gray-50;
  display: flex;
  min-height: 100vh;

  &__content {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 4rem 1rem;
    margin-left: 0;
    margin-top: 4rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    @include media(lg) {
      &.minimize {
        margin-left: 5rem;
      }
      &.maximize {
        margin-left: 12rem;
      }
      padding: 2rem;
    }
  }
}
