.filter {
  border: 1px solid $gray-300;

  position: relative;
  border-radius: 0.25rem;
  cursor: pointer;

  svg {
    width: 1rem;
    height: 1rem;
    transition: all 0.3s ease-in-out;
  }

  &__btn {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.25rem;
    padding: 0.4rem 0.75rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: $primary;

      svg {
        color: $white;
      }
    }
  }

  &__dropdown {
    width: 200px;
    position: absolute;
    top: 2rem;
    right: 0;
    background: $white;
    border: 1px solid $gray-300;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 0.75rem;
    z-index: 5;

    &__item {
      display: flex;
      gap: 1rem;

      label {
        font-size: 0.75rem;
        font-weight: 500;

        display: block;
      }

      &:nth-child(1) {
        margin-bottom: 0.75rem;
      }
    }
  }
}
