.action {
  @include flex(space-between, center, null);
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  gap: 1rem;

  &__search {
    width: 100%;
    @include media(sm) {
      width: 50vh;
    }
  }

  &__button {
    @include flex(center, center, null);
    gap: 1rem;
    margin-left: auto;

    @include media(md) {
      margin-left: 0;
    }
  }
}
