.wrapper {
  @include flex(space-between, center, null);
  width: 100%;
  border-bottom: 1px solid $gray-300;
  padding: 1rem;

  h3 {
    font-size: 0.875rem;
    font-weight: 700;
    color: $gray-700;
  }

  button {
    @include flex(center, center, null);
    background-color: $gray-100;

    &:focus {
      outline: 1px solid $primary;
    }

    border-radius: 0.4rem;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid $gray-300;

    &:hover {
      background-color: $gray-200;
    }

    & > * {
      width: 1rem;
      height: 1rem;
      color: $gray-700;
    }
  }
}
