.container {
  display: block;
  margin-block: 8rem 0;

  h1 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;

    @include media(md) {
      font-size: 2.5rem;
    }
  }

  p {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;
    color: $gray-500;

    a {
      color: $primary;
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    margin-block: 5rem 0rem;
    flex-wrap: wrap;
    height: 250px;

    &__item {
      cursor: zoom-in;
      position: relative;
      background: $gray-100;

      flex: 0 0 100%;
      @include media(sm) {
        flex: 0 0 50%;
      }

      @include media(md) {
        flex: 0 0 33.32%;
      }

      @include media(xl) {
        flex: 0 0 16.65%;
      }

      height: 250px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all 0.3s ease-in-out;
      }

      &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: $primary;
        @include flex-center();
        color: $white;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover &__icon {
        opacity: 1;
      }
    }
  }
}
