.chat {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: $success;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 100;
  @include flex-center();
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
