.sidebar {
  width: 200px;
  height: 100vh;
  background: $white;
  position: fixed;
  display: flex;
  left: -200px;
  top: 0;
  z-index: 3;
  padding: 0 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
  flex-direction: column;
  gap: 1.5rem;
  transition: all 0.3s ease-in-out;

  &__active {
    left: 0;
  }

  @include media(md) {
    left: 0;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    img {
      width: 65px;
      height: 65px;
      object-fit: contain;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 700;
      color: $dark;
    }
  }

  &__primaryList {
    @include flex-center();
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1rem;

    &__item {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 0.5rem;
      padding: 0.5rem 0.75rem;
      border-radius: 0.25rem;

      &__icon {
        @include flex-center();
        font-size: 1.25rem;
        color: $gray-700;
        font-weight: 100;
      }

      &__name {
        font-size: 0.875rem;
        font-weight: 500;
      }

      &__active {
        background: $primary;
        & > * {
          color: $white;
        }
      }
    }
  }
}
