.input-group {
  position: relative;

  label {
    font-size: 0.75rem;
    font-weight: 500;
    color: $gray-600;
    display: block;
    text-transform: capitalize;
    margin-bottom: 0.25rem;
    width: fit-content;
  }
}

.error-message {
  height: 1.25rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  color: $danger;
}
